<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/all.css">
    <link rel="stylesheet" href="../plugs/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../plugs/fontawesome-free-6.2.0-web/css/all.min.css">
    <title>Finanças</title>
</head>

<body>
    <div class="login">
        <div class="login-form">
            <di class="login-form-wrapper">
                <div class="login-tittle">
                    <h2> Log In</h2>
                    <a href="registrar.html">Cadastrar-se</a>
                </div>

                <form>
                    <div class="form-group">
                        <label for="email">Email</label>
                        <input type="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="Seu email">
                    </div>
                    <div class="form-group">
                        <label for="Senha">Senha</label>
                        <input type="password" class="form-control" id="senha" placeholder="Senha">
                    </div>
                    <button type="button" class="btn">Login</button>
                </form>

            </di>


        </div>

        <div class="banner-login">
            <img src="../imagens/inicial.png" alt="">
            <h2>Finanças</h2>



        </div>

    </div>

    <div class="teste"></div>





    <script src="../plugs/bootstrap/js/bootstrap.min.js"></scriptsrc></script>
    <script src="../plugs/fontawesome-free-6.2.0-web/js/all.min.js"></scriptsrc></script>
    <script> let button = document.querySelector("form button.btn")
        button.addEventListener("click", () => {
            location.href = "sidebar.html"
        })
    </script>
</body>

</html>