<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/all.css">
    <link rel="stylesheet" href="../plugs/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../plugs/fontawesome-free-6.2.0-web/css/all.css">

    <title>Dashboard</title>
</head>

<body>

    <div class="flex-dashboard">

        <sidebar>
            <div class="sidebar-tittle">
                <img src="../imagens/menu.png" alt="">
                <h2>Menu</h2>

            </div>
            <div class="menu">
                <ul>
                    <li> <i class="fas fa-house"></i><a href="sidebar.html"> Dashboard</a></li>
                    <li> <i class="fa-solid fa-user"></i><a href="perfil.html"> Perfil</a></li>
                    <li> <i class="fa-solid fa-coins"></i><a href="gerenciarFinanças.html"> Gerenciar Finanças</a></li>
                    <li> <i class="fa-solid fa-money-bill-trend-up"></i><a href="#"> Pagar</a></li>
                    <li> <i class="fas fa-gift"></i><a href="#"> Desejos</a></li>


                </ul>
            </div>

        </sidebar>
        <main>
            <header>
                <a href="sidebar.html"> <i class="fas fa-house"></i>Dashboard</a>
                <a href="../views/index.html"> <i class="fas fa-right-from-bracket"></i>Logout</a>
            </header>

            <div class="main-content">
                <div class="perfil-parent">
                    <div class="perfil">
                        <div class="perfil-img">
                            <div class="img"></div>
                        </div>

                        <div class="perfil-forn">
                            <table class="table">
                                <thead>

                                </thead>
                                <tbody class="table-group-divider">
                                    <tr>

                                        <th>Nome</th>
                                        <td>Água</td>

                                        <td><i class="fa-solid fa-rotate"> </i><i class="fa-solid fa-trash"></i></td>



                                    </tr>
                                    <tr>

                                        <th>Idade</th>
                                        <td>Thornton</td>

                                        <td><i class="fa-solid fa-rotate"> </i><i class="fa-solid fa-trash"></i></td>

                                    </tr>
                                    <tr>

                                        <th>Genero</th>
                                        <td>@twitter</td>

                                        <td><i class="fa-solid fa-rotate"> </i><i class="fa-solid fa-trash"></i></td>

                                    </tr>

                                    <tr>

                                        <th>Email</th>
                                        <td>@twitter</td>

                                        <td><i class="fa-solid fa-rotate"> </i><i class="fa-solid fa-trash"></i></td>

                                    </tr>
                                    <tr>

                                        <th>Senha</th>
                                        <td>@twitter</td>

                                        <td><i class="fa-solid fa-rotate"> </i><i class="fa-solid fa-trash"></i></td>

                                    </tr>

                                </tbody>
                            </table>
                            <div class="custom-file">
                                <input type="file" class"custom-file-input" id="customFile">
                                <label class="custom-file-label" for="customFile">choose file</label>

                            </div>
                            <button type="submit" class="btn btn-primary">Salvar</button>
                        </div>
                    </div>


                </div>

            </div>

        </main>





    </div>




    <script src="../plugs/bootstrap/js/bootstrap.min.js"></scriptsrc></script>
    <script src="../plugs/fontawesome-free-6.2.0-web/js/all.min.js"></scriptsrc></scrip
    
</body>
</html>