<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../css/all.css">
  <link rel="stylesheet" href="../plugs/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="../plugs/fontawesome-free-6.2.0-web/css/all.min.css">

  <title>Cadastro</title>
</head>

<body>
  <div class="register-parent">

    <div class="register">
      <div class="register-titte">
        <img src="../imagens/cadastro.png" alt="">
        <h2>Cadastro</h2>

      </div>

      <form>
        <div class="form-grop">
          <label for="name" class="form-label">Nome</label>
          <input type="text" class="form-control" id="name" placeholder="Nome Completo">
        </div>

        <div class="form-grop">
          <label for="age" class="form-label">Idade</label>
          <input type="age" class="form-control" id="age" placeholder="Idade">
        </div>

        <div class="form-grop">
          <label for="genre">Gênero</label>
          <div class="form-floating">
            <select class="form-control" id="genre">
              <option selected>Selecione</option>
              <option value="1">Masculino</option>
              <option value="2">Feminino</option>
            </select>

          </div>
        </div>


        <div class="form-grop">
          <label for="email" class="form-label">Email</label>
          <input type="email" class="form-control" id="email" placeholder="Email">
        </div>

        <div class="form-grop">
          <label for="password" class="form-label">Senha</label>
          <input type="password" class="form-control" id="password" placeholder="Senha">
        </div>

        <button type="submit" class="btn btn-primary">Cadastrar</button>
      </form>
    </div>






  </div>




  <script src="../plugs/bootstrap/js/bootstrap.min.js"></scriptsrc></script>
  <script src="../plugs/fontawesome-free-6.2.0-web/js/all.min.js"></scriptsrc></scrip
    
</body>
</html>