<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/all.css">
    <link rel="stylesheet" href="../plugs/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../plugs/fontawesome-free-6.2.0-web/css/all.css">

    <title>Dashboard</title>
</head>

<body>

    <div class="flex-dashboard">

        <sidebar>
            <div class="sidebar-tittle">
                <img src="../imagens/menu.png" alt="">
                <h2>Menu</h2>

            </div>
            <div class="menu">
                <ul>
                    <li> <i class="fas fa-house"></i><a href="#"> Dashboard</a></li>
                    <li> <i class="fa-solid fa-user"></i><a href="perfil.html"> Perfil</a></li>
                    <li> <i class="fa-solid fa-coins"></i><a href="gerenciarFinanças.html"> Gerenciar Finanças</a></li>
                    <li> <i class="fa-solid fa-money-bill-trend-up"></i><a href="#"> Pagar</a></li>
                    <li> <i class="fas fa-gift"></i><a href="#"> Desejos</a></li>
                </ul>
            </div>

        </sidebar>
        <main>
            <header>
                <a href="sidebar.html"> <i class="fas fa-house"></i>Dashboard</a>
                <a href="../views/index.html"> <i class="fas fa-right-from-bracket"></i>Logout</a>
            </header>
            <div class="main-content">
                <div class="main-content-tittle">

                </div>
                <div class="dashboard-content">
                    <div class="dashboard-flex-parent">
                        <div class="dashboard-box">
                            <div class="box-icon box-wallet"><i class="fa-solid fa-wallet"></i></div>
                            <div class="value">80</div>
                            <div class="type">Carteira</div>


                        </div>

                        <div class="dashboard-box">
                            <div class="box-icon box-accont"><i class="fa-solid fa-file-invoice"></i> </div>
                            <div class="value">80</div>
                            <div class="type">Contas</div>


                        </div>

                        <div class="dashboard-box">
                            <div class="box-icon box-bank"><i class="fa-solid fa-piggy-bank"></i> </div>
                            <div class="value">80</div>
                            <div class="type">Banco</div>


                        </div>

                        <div class="dashboard-box ">
                            <div class="box-icon box-presents"><i class="fa-solid fa-gift"></i> </div>
                            <div class="value">80</div>
                            <div class="type">Presentes</div>

                        </div>

                    </div>
                </div>
            </div>

        </main>





    </div>




    <script src="../plugs/bootstrap/js/bootstrap.min.js"></scriptsrc></script>
    <script src="../plugs/fontawesome-free-6.2.0-web/js/all.min.js"></scriptsrc></scrip
    
</body>
</html>